lenguajes-de-interfaz/unidad-4/
lenguajes-automatas-1/unidad-2/regex-email/env/
lenguajes-automatas-1/unidad-2/regex-mail/env/
admon-base-datos/unidad-1/ejemplo-mysql/.vscode
lenguajes-automatas-1/unidad-2/regex-mail/.vscode
admon-base-datos/unidad-2/redis/.vscode
